{% extends 'base.html' %}

{% block title %}Monitor{% endblock %}
{% block content %}

<div class="greenhouse-info">
    <h2>Geenhouse {{r}}</h2>

    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Crops</th>
                <th>Temperature</th>
                <th>Humidity</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
            <tr>
                <td>{{ entry['Time'] }}</td>
                <td>{{ entry['Crop'] }}</td>
                <td>{{ entry['Temperature'] }}</td>
                <td>{{ entry['Humidity'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="chart-container">
        <h3>Temperature Over Time</h3>
        {{ temperature_chart|safe }}
    </div>

    <div class="chart-container">
        <h3>Humidity Over Time</h3>
        {{ humidity_chart|safe }}
    </div>

</div>
{% endblock %}

{% block styles %}
<style>
    .greehouse-info {
        background-color: aliceblue;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .greenhouse-info h2 {
        color: #007bff;
    }

    table {
        width: 50%;
        margin: 20px 0;
    }

    th,
    td {
        border: 1px solid #007bff;
        padding: 3px;
        text-align: left;
        background-color: #ddd;
    }

    th {
        background-color: #007bff;
        color: white;
    }

    .chart-container {
        width: 45%;
        box-sizing: border-box;
    }
</style>
{% endblock %}