{% extends "base.html" %}

{% block title %}
User
{% endblock %}


{% block content %}
<div class="user-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for msg in messages %}
    <p class="flash-message">{{msg}}</p>
    {% endfor %}

    {% endif %}
    {% endwith %}

    <p>Welcome, {{user}}</p>
</div>
{% endblock %}

{% block styles %}
<style>
    .user-container {
        background-color: azure;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        text-align: center;
    }

    .flash-message {
        font-size: 30px;
        color: #e74c3c;
        background-color: #f8d7da;
        padding: 8px;
        text-align: center;
    }
</style>
{% endblock %}